<!DOCTYPE html>
<html>
  <head>
    <title>Images</title>
  
  </head>
  <body><%= images[0]%>
  <img src="<%= images[0]%>">
   
<!--     <img src='data:image/jpeg;base64',{<%= img%>} >
    <img src = "data:image/jpeg;base64,{", <%= img%>, "}" >;
 -->    
  </body>
</html>