<!DOCTYPE html>
<html>
  <head>
    <title>Successful</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <h1>Successfully Stored in db!!</h1>
  </body>
</html>