<html>
<head>
<title>File Upload</title>
</head>
<body>

	<form action="/storePhoto" method="post" enctype="multipart/form-data">
		Caption: <input type="text" name="caption"> <br>
		ImagePath: <input type="file" name="image"> <br>
		<!-- <button type="submit">Upload</button> -->
		<input type="submit" value="Upload Image" name="submit">
	</form>

</body>

</html>